h3 Scratch Elements
<p> The following will walk through the basic elements of a Trello board, some of its functionality and options.</p>
each item in contents['start.json'].metadata     
  div
    img(src='images/' + item.image)
  div.row= item.description
  <br>
  <br>